/*  your css code here. If applicable */
.container
{    display:flex;
	align-items:center;
	border:5px solid black;
	padding:50px;
	width:60%;
	border-radius:40px;
 justify-content:space-between;
 background-color:grey;
 .red
{   
	border:50px solid rgb(255, 0, 0);
	border-radius:50%
}
}
.green{
	border:50px solid green;
	border-radius:50%
}
.yellow
{
	border:50px solid yellow;
	border-radius:50%
}

